# Project root ignore for GVR repo
**/bin/
**/obj/
**/node_modules/
**/dist/
**/out-tsc/
**/coverage/
**/.angular/cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.tmp
*.temp
*.cache
*.dbmdl
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsp
*.pidb
*.pdb
*.opendb
*.DS_Store
Thumbs.db
**/appsettings.Development.json
**/launchSettings.json
.vs/
.idea/
